body.checklist {
  background-color: var(--light-blue);
}

.checklist__content__item {
  display: flex;
}

.checklist__content__item__text-box {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  padding: 0 50px;
}

.checklist__content__item__text-box__text {
  font-size: 36px;
  max-width: 600px;
}

.checklist__content__item__img-box {
  flex: 1 1 50%;
}

.checklist__content__item__img-box__img {
  width: 100%;
}

.-red {
  background-color: var(--red);
}

.-yellow {
  background-color: var(--yellow);
}

.-pink {
  background-color: var(--pink);
}

.-green {
  background-color: var(--green);
}

.-blue {
  background-color: var(--blue);
}

@media (max-width: 1024px) {
  .checklist__content__item__text-box__text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .checklist__content__item__text-box {
    padding: 20px;
  }

  .checklist__content__item__text-box__text {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  .checklist__content__item {
    flex-direction: column;
  }

  .checklist__content__item.-reversed {
    flex-direction: column-reverse;
  }

  .checklist__content__item__text-box {
    padding: 70px 20px;
  }

  .checklist__content__item__text-box__text {
    font-size: 16px;
  }
}
