body.index {
  background-color: var(--red);
}

/* STAR POPUP */
.wrapper__star-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-popup {
  position: relative;
}

.star-popup__img {
  max-width: 100vw;
  max-height: 100vh;
}

.star-popup__content {
  position: absolute;
  max-width: 400px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-popup__content__title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
}

.star-popup__content__text {
  font-family: "Proxima Nova";
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}

.star-popup__content__btn {
  display: block;
  width: fit-content;
  background-color: var(--red);
  border-radius: 10px;
  padding: 12px 30px 14px;
  margin: 0 auto 10px;
  color: white;
  font-size: 27px;
  cursor: pointer;
}

.star-popup__content__skip {
  font-family: "Proxima Nova";
  font-size: 16px;
  text-align: center;
  color: #424242;
  cursor: pointer;
}

/* QUIZ */

.quiz {
  width: 100%;
  position: relative;
}

.quiz__title {
  margin: 70px auto 0;
  text-align: center;
  font-size: 60px;
}

.quiz__coral {
  display: block;
  width: 650px;
  margin: 80px auto 0;
  animation: 4s ease-in-out infinite coral_rotate;
}

@keyframes coral_rotate {
  from {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(10deg);
  }
}

.quiz__item {
  padding: 16px 40px 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}

.-font-big {
  font-size: 70px;
}

.-font-medium {
  font-size: 60px;
}

.-font-small {
  font-size: 50px;
}

.quiz__item.-green {
  background-color: var(--green);
  color: white;
}

.quiz__item.-pink {
  background-color: var(--pink);
}

.quiz__item.-blue {
  background-color: var(--blue);
  color: white;
}

.quiz__fist-step,
.quiz__second-step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiz__second-step {
  display: none;
}

.quiz__second-step a {
  color: black;
}

.quiz__fist-step__family {
  top: calc(60% / 524 * 100);
  left: calc(196% / 1440 * 100);
  white-space: nowrap;
  transform: rotate(20deg);
}

.quiz__fist-step__family:hover {
  animation: 1.6s ease-in-out infinite family_rotate;
}

@keyframes family_rotate {
  50% {
    transform: rotate(-20deg);
  }
}

.quiz__fist-step__group {
  top: calc(45% / 524 * 100);
  left: calc(750% / 1440 * 100);
  transform: rotate(4deg);
}

.quiz__fist-step__group:hover {
  animation: 1s ease-in-out infinite group_rotate;
}

@keyframes group_rotate {
  50% {
    transform: rotate(-10deg);
  }
}

.quiz__fist-step__one {
  top: calc(322% / 524 * 100);
  left: calc(409% / 1440 * 100);
  transform: rotate(-12deg);
}

.quiz__fist-step__one:hover {
  animation: 1.4s ease-in-out infinite one_rotate;
}

@keyframes one_rotate {
  50% {
    transform: rotate(12deg);
  }
}

.quiz__second-step__excursions {
  top: calc(-10% / 524 * 100);
  left: calc(355% / 1440 * 100);
  transform: rotate(-5deg);
}

.quiz__second-step__excursions:hover {
  animation: 1s ease-in-out infinite excursions_rotate;
}

@keyframes excursions_rotate {
  50% {
    transform: rotate(8deg);
  }
}

.quiz__second-step__extreme {
  top: calc(200% / 524 * 100);
  left: calc(110% / 1440 * 100);
  transform: rotate(8deg);
}

.quiz__second-step__extreme:hover {
  animation: 1s ease-in-out infinite extreme_rotate;
}

@keyframes extreme_rotate {
  50% {
    transform: rotate(-8deg);
  }
}

.quiz__second-step__warm {
  top: calc(400% / 524 * 100);
  left: calc(180% / 1440 * 100);
  transform: rotate(-7deg);
}

.quiz__second-step__warm:hover {
  animation: 1s ease-in-out infinite warm_rotate;
}

@keyframes warm_rotate {
  50% {
    transform: rotate(8deg);
  }
}

.quiz__second-step__watching {
  top: calc(336% / 524 * 100);
  left: calc(727% / 1440 * 100);
  transform: rotate(15deg);
}

.quiz__second-step__watching:hover {
  animation: 1.8s ease-in-out infinite watching_rotate;
}

@keyframes watching_rotate {
  50% {
    transform: rotate(-15deg);
  }
}

.quiz__second-step__eating {
  top: calc(75% / 524 * 100);
  left: calc(790% / 1440 * 100);
  transform: rotate(-8deg);
}

.quiz__second-step__eating:hover {
  animation: 1s ease-in-out infinite eating_rotate;
}

@keyframes eating_rotate {
  50% {
    transform: rotate(8deg);
  }
}

/* OCEANS */
.oceans {
  margin-top: 100px;
  width: 100%;
}

.oceans__selector__item {
  font-size: 80px;
  border-top: 4px solid white;
  color: white;
  padding: 10px 50px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.oceans__selector__sevled {
  border-bottom: 4px solid white;
}

.oceans__selector__atlantic:hover {
  background-color: var(--light-blue);
}

.oceans__selector__indian:hover {
  background-color: var(--yellow);
}

.oceans__selector__silent:hover {
  background-color: var(--blue);
}

.oceans__selector__south:hover {
  background-color: var(--pink);
}

.oceans__selector__sevled:hover {
  background-color: var(--green);
}

.oceans__selector__item.show:hover {
  background-color: transparent;
}

.oceans__selector__item__content {
  display: none;
  padding: 25px 0 50px;
}

.oceans__selector__item.show .oceans__selector__item__content {
  display: flex;
}

.oceans__selector__item__content__img {
  max-width: 600px;
}

.oceans__selector__item__content__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0 0 50px;
}

.oceans__selector__item__content__description__text {
  font-size: 30px;
  max-width: 650px;
  line-height: 120%;
}

.oceans__selector__item__content__description__btn {
  font-size: 40px;
  padding: 24px 55px 28px;
  border: 4px solid white;
  width: fit-content;
  color: white;
}

.oceans__selector__item__content__description__btn:hover {
  transition: background-color 0.2s;
  background-color: var(--yellow);
}

/* FORM */
.form {
  margin: 150px;
  font-size: 40px;
}

.form__paragraph {
  margin-top: 50px;
}

.form__input {
  display: inline-block;
  margin: 25px 0 0 30px;
  padding: 7px 30px 9px;
  font-size: 40px;
  font-family: "Transgender Grotesk";
  outline: none;
  appearance: none;
  border: none;
  width: fit-content;
}

.form__input:hover {
  animation: 1.4s ease-in-out input_rotate;
}

@keyframes input_rotate {
  33% {
    transform: rotate(7deg);
  }

  66% {
    transform: rotate(-7deg);
  }
}

.form__input::placeholder {
  color: rgb(66, 66, 66);
}

.form__input__name {
  background-color: var(--pink);
}

.form__input__destination {
  background-color: var(--yellow);
  white-space: nowrap;
}

.form__input__email {
  background-color: var(--light-blue);
}

.form__btn {
  margin-top: 80px;
  padding: 20px 60px;
  width: fit-content;
  background-color: var(--green);
  font-size: 30px;
  cursor: pointer;
}

.form__popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  max-width: 600px;
  padding: 30px;
  background-color: var(--yellow);
}

.form__popup__title {
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.form__popup__close {
  display: block;
  border: 2px solid white;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .quiz__title {
    font-size: 50px;
  }

  .-font-big {
    font-size: 50px;
  }

  .-font-medium {
    font-size: 40px;
  }

  .-font-small {
    font-size: 35px;
  }

  .quiz__fist-step__family {
    top: calc(120% / 524 * 100);
    left: calc(156% / 1440 * 100);
  }

  .quiz__second-step__warm {
    top: calc(440% / 524 * 100);
    left: calc(180% / 1440 * 100);
  }

  .quiz__second-step__eating {
    top: calc(75% / 524 * 100);
    left: calc(740% / 1440 * 100);
  }

  .oceans__selector__item {
    font-size: 60px;
  }

  .oceans__selector__item__content {
    flex-direction: column;
  }

  .oceans__selector__item__content__img {
    max-width: none;
    width: 100%;
  }

  .oceans__selector__item__content__description {
    padding: 40px 0 0 0;
  }

  .oceans__selector__item__content__description__text {
    padding-bottom: 40px;
  }

  .oceans__selector__item__content__description__btn {
    display: block;
    margin: 0 auto;
  }

  .form {
    margin: 120px 50px;
    font-size: 33px;
  }

  .form__input {
    font-size: 33px;
    margin: 15px 0 0 20px;
  }
}

@media (max-width: 767px) {
  .star-popup__content {
    top: 58%;
  }

  .star-popup__content__title {
    font-size: 24px;
    padding-bottom: 20px;
  }

  .star-popup__content__text {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .star-popup__content__btn {
    font-size: 20px;
    padding: 8px 20px 10px;
    border-radius: 5px;
  }

  .quiz__title {
    font-size: 40px;
  }

  .quiz__coral {
    width: 90vw;
  }

  .quiz__item {
    padding: 12px 25px 16px;
  }

  .-font-big {
    font-size: 45px;
  }

  .-font-medium {
    font-size: 35px;
  }

  .-font-small {
    font-size: 25px;
  }

  .quiz__fist-step__group {
    top: calc(-15% / 524 * 100);
    left: calc(630% / 1440 * 100);
  }

  .quiz__fist-step__one {
    top: calc(380% / 524 * 100);
    left: calc(370% / 1440 * 100);
  }

  .quiz__second-step .quiz__item {
    font-size: 25px;
  }

  .quiz__second-step__excursions {
    top: calc(-30% / 524 * 100);
    left: calc(135% / 1440 * 100);
  }

  .quiz__second-step__warm {
    top: calc(460% / 524 * 100);
    left: calc(150% / 1440 * 100);
  }

  .quiz__second-step__watching {
    top: calc(336% / 524 * 100);
    left: calc(657% / 1440 * 100);
  }

  .oceans__selector__item {
    font-size: 40px;
    padding: 10px 30px 15px;
  }

  .form {
    margin: 70px 20px;
    font-size: 20px;
  }

  .form__paragraph {
    margin-top: 30px;
  }

  .form__input {
    font-size: 20px;
    margin: 15px 0 0 20px;
  }

  .form__btn {
    margin-top: 70px;
    font-size: 20px;
    padding: 15px 30px;
  }
}

@media (max-width: 479px) {
  .star-popup__content__title {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .star-popup__content__text {
    display: none;
  }

  .quiz__title {
    font-size: 24px;
    margin: 50px auto 0;
  }

  .quiz__second-step .quiz__item {
    font-size: 16px;
  }

  .quiz__item {
    padding: 10px 20px 12px;
  }

  .-font-medium {
    font-size: 25px;
  }

  .oceans__selector__item {
    font-size: 26px;
    padding: 10px 20px 15px;
    border-top: 3px solid white;
  }

  .oceans__selector__sevled {
    border-bottom: 3px solid white;
  }

  .form__paragraph {
    font-size: 18px;
  }

  .form__input {
    font-size: 18px;
    margin: 15px 0 0 0;
    padding: 7px 20px 9px;
  }
}

@media (max-width: 479px) {
  .oceans__selector__item__content {
    padding: 25px 0 10px;
  }

  .oceans__selector__item__content__description {
    padding: 20px 0 0 0;
  }

  .oceans__selector__item__content__description__text {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .oceans__selector__item__content__description__btn {
    font-size: 20px;
    padding: 12px 25px 10px;
    border: 2px solid white;
  }
}