body.index {
  background-color: var(--red);
}

/* STAR POPUP */
.wrapper__star-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* QUIZ */

.quiz {
  width: 100%;
  position: relative;
}

.quiz__title {
  margin: 20px auto 0;
  text-align: center;
  font-size: 60px;
}

.quiz__coral {
  display: block;
  width: 650px;
  margin: 80px auto 0;
}

.quiz__item {
  padding: 16px 40px 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}

.-font-big {
  font-size: 70px;
}

.-font-medium {
  font-size: 60px;
}

.-font-small {
  font-size: 50px;
}

.quiz__item.-green {
  background-color: var(--green);
  color: white;
}

.quiz__item.-pink {
  background-color: var(--pink);
}

.quiz__item.-blue {
  background-color: var(--blue);
  color: white;
}

.quiz__fist-step,
.quiz__second-step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiz__second-step {
  display: none;
}

.quiz__second-step a {
  color: black;
}

.quiz__fist-step__family {
  top: calc(50% / 524 * 100);
  left: calc(190% / 1440 * 100);
  white-space: nowrap;
  transform: rotate(20deg);
}

.quiz__fist-step__group {
  top: calc(25% / 524 * 100);
  left: calc(450% / 1440 * 100);
  transform: rotate(11deg);
}

.quiz__fist-step__one {
  top: calc(320% / 524 * 100);
  left: calc(411% / 1440 * 100);
  transform: rotate(-22deg);
}

.quiz__second-step__excursions {
  top: calc(-12% / 524 * 100);
  left: calc(350% / 1440 * 100);
  transform: rotate(-20deg);
}

.quiz__second-step__extreme {
  top: calc(209% / 524 * 100);
  left: calc(111% / 1440 * 100);
  transform: rotate(20deg);
}

.quiz__second-step__warm {
  top: calc(445% / 524 * 100);
  left: calc(165% / 1440 * 100);
  transform: rotate(-10deg);
}

.quiz__second-step__watching {
  top: calc(336% / 524 * 100);
  left: calc(727% / 1440 * 100);
  transform: rotate(15deg);
}

.quiz__second-step__eating {
  top: calc(75% / 524 * 100);
  left: calc(790% / 1440 * 100);
  transform: rotate(-8deg);
}

